body{
    background-image: url(/pexels-photo-42415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
h1{
    color: bisque;
    font-family: cursive;
}
a{
    color: bisque;
}